# Python
__pycache__/
*.py[cod]
venv/
.env

# Node/React
node_modules/
build/
.env.local

# Flutter
.dart_tool/
.flutter-plugins
.packages
build/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp